@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
body {
    align-items: center;
    text-align: center;
    color: rgb(216, 233, 137);
    background-color: #000;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hidden {
    display: none;
}

/* bg-animation */
.loading {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    margin: 0;
}

.loading h2 {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 80vh;
    font-size: 4vw;
    font-weight: 700;
}

.bg-animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.bg-animation .block{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    animation: animate 0.35s ease-in-out forwards;
}

.bg-animation .block:nth-child(even){
    animation: animate 1s ease-in-out forwards;
}

.bg-animation .block:nth-child(7n+3){
    animation: animate 2s ease-in-out forwards;
}

.bg-animation .block:nth-child(7n+7){
    animation: animate 2.5s ease-in-out forwards;
}

@keyframes animate 
{
    0%
    {
        opacity: 0;
        transform: scale(0) translateY(1000px);
    }
    50%
    {
        opacity: 1;
        background-color: rgb(25, 73, 57);
        background-position: center;
        background-attachment: fixed;
    }
    100%
    {
        opacity: 1;
        transform: scale(1) translateY(0px);
        background-color: rgb(25, 73, 57);
        background-position: center;
        background-attachment: fixed;
    }
}

/* the game loading fade in animation*/

.game-container {
    animation: fadeIn 2.5s both;
    animation-delay: 13s;
    z-index: 2;
    position: absolute;
}

@keyframes fadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* the logo  */

.logo-container{
    position: relative;
}

.logo {
    border: 5px solid;
    border-color: rgb(77, 168, 116);
    border-radius: 15px;
    box-shadow: 20px 20px 15px rgb(48, 134, 75);
    width: 700px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.logo ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    padding-left: 23%;
}

ul.horizontal li {
    display: inline-block;
    padding: 0 1rem;
    min-width: 2rem;
    text-align: center;
}

ul.horizontal li:not(:last-child) {
    border-right: 2px solid rgb(216, 233, 137);
}

/* landing page */

.landing-page {
    border: 2px solid rgb(77, 168, 116);
    padding: 20px;
    margin: 30px;
    width: 85%;
    border-radius: 15px;
}

#easy {
    border: 1px solid rgb(77, 168, 116);
    padding: 5px;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

#easy:hover {
    background-color: rgb(216, 233, 137);
    color: rgb(25, 73, 57);
    transition: 0.4s ease-in-out;
}

#medium {
    border: 1px solid rgb(77, 168, 116);
    padding: 5px;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

#medium:hover {
    background-color: rgb(216, 233, 137);
    color: rgb(25, 73, 57);
    transition: 0.4s ease-in-out;
}

#hard {
    border: 1px solid rgb(77, 168, 116);
    padding: 5px;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

#hard:hover {
    background-color: rgb(216, 233, 137);
    color: rgb(25, 73, 57);
    transition: 0.4s ease-in-out;
}

/* Game board */

.score-board {
    border: 2px solid rgb(77, 168, 116);
    padding: 20px;
    margin: 30px;
    width: 85%;
    border-radius: 15px;
}


/* Button styling */

.btn {
    font-size: 3.5rem;
    border-radius: 50%;
    border: 5px solid;
    cursor: pointer;
}

.rock {
    border-color: rgb(139, 0, 0);
    color: rgb(255, 0, 0);
    box-shadow: 5px 10px 15px rgb(255, 0, 0);
}

.rock:hover {
    background-color: rgb(139, 0, 0);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.paper {
    border-color: rgb(184, 134, 11);
    color: rgb(255, 255, 0);
    box-shadow: 5px 10px 15px rgb(255, 255, 0);
}

.paper:hover {
    background-color: rgb(184, 134, 11);
    border-color: rgb(255, 255, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.scissors {
    border-color: rgb(148, 0, 211);
    color: rgb(238, 130, 238);
    box-shadow: 5px 10px 15px rgb(238, 130, 238);
}

.scissors:hover {
    background-color: rgb(148, 0, 211);
    border-color: rgb(238, 130, 238);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.lizard {
    border-color: rgb(0, 100, 0);
    color: rgb(0, 128, 0);
    box-shadow: 5px 10px 15px rgb(0, 128, 0);
}

.lizard:hover {
    background-color: rgb(0, 100, 0);
    border-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.spock {
    border-color: rgb(0, 0, 139);
    color:rgb(0, 0, 255);
    box-shadow: 5px 10px 15px rgb(0, 0, 255);
}

.spock:hover {
    background-color: rgb(0, 0, 139);
    border-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

/* Rules button */

.btn-collapse{
    background-color: rgb(48, 134, 75);
    color: rgb(216, 233, 137); 
    cursor: pointer;
    height: 50px;
    padding: 10px 60px;
    border: 0;
    border-radius: 20px;
    margin-top: 40px;
    outline: none;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 500;
}

.rules {
    width: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 34px 30px;
    background: rgb(48, 134, 75);
    border-radius: 3px;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
}

.open-rules {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.6s, top 0.5s;
}

.rules img {
    width: 60%;
}

.rules button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: rgb(25, 73, 57);
    color: rgb(216, 233, 137);
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Social media footer*/

footer{
    margin-top: 80px;
 }

 .fa-brands {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    border-radius: 15%;
    transition: box-shadow .6s ease-in-out;
  }

  .fa-brands:hover {
    box-shadow: 10px 10px 5px rgb(48, 134, 75);
    transition: .6s;
  }

.fa-instagram{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: #fff;
}

.fa-facebook{
    background:linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
    color: #fff
}

.fa-youtube {
    background:linear-gradient(-120deg, #D62121, #C72C2C, #3a1111);
    color: #fff;
}


/* Media queries */

@media screen and (max-width: 900px){

    body {
        background-color: rgb(25, 73, 57);
    }

    .loading{
        visibility: hidden;
    }

    .game-container{
        animation-delay: 0s;
        
    }
}

@media screen and (max-width:420px){
    
    .logo {
        width: auto;
        padding: 0;
        box-shadow: none;   
    }

    .landing-page {
        padding: 10px 6px;
        margin: 20px;
    }

    .logo ul {
        font-size: small;
        padding: 0;
    }

    .player-option{
        height: 100px;
    }

    .btn{
        font-size: 30px;
    }

    .rules {
        width: 150px;
        font-size: 10px;
    }
}